<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>나만의 중고거래 검색엔진 메인화면</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/static/marketplace/assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/static/marketplace/css/styles.css" rel="stylesheet" />
        <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
    </head>
    <body>
        <!-- Masthead-->
        <header class="masthead">
            <div class="topbar">
                <div class="headerdiv">
                    <!-- Page heading-->
                    <h1 class="headerh1">당근</h1>
                    <img class = "headericon" src="../static/marketplace/assets/cart.svg">
                    <h1 class="headerh1">나라</h1>
                </div>
            </div>
            <div>
                <form action="{% url 'search' %}" method="POST">
                    {% csrf_token %}
                    <div class="searchdiv">
                        <!-- <div class="searchbutton"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">검색</button></div> -->
                        <div class="searchinputdiv">
                            <input class="form-control form-control-lg" id="keyword" name = "keyword" type="text" placeholder="Search" data-sb-validations="required,email" />
                        </div>
                    </div>
                </form>
            </div>
        </header>
        <!-- Post Grid-->
        <section>
            <div class="container">
                <div class="seemorediv">
                    <a href="{% url 'search' %}?category=000">
                        <img class="seemoreicon" src="../static/marketplace/assets/more.png">
                        <div> 전체글 보기 </div>
                    </a>
                </div>
                <div class="postdiv">
                    <table border="1">
                        <th style="width:10%;"></th><th style="width:10%; text-align: right;">플랫폼</th><th style="width:14%;">판매여부</th><th style="width:46%;">제목</th><th style="width:10%;text-align: left;">가격</th><th style="width:10%;"></th>
                        {% for joonggo in joonggo_list %}
                        <tr><!-- 첫번째 줄 시작 -->
                            <td></td>
                            <td class="platformtd">{{ joonggo.platform }}</td>
                            {% if joonggo.issoldout == 1 %}
                                <td class="issoldouttd">판매완료</td>
                            {% elif joonggo.issoldout == 0 %}
                                <td class="issoldouttd">판매중</td>
                            {% endif %}
                            <td class="titletd"><a href="{{ joonggo.url }}" class="url" target='_blank'>{{ joonggo.title }}</a></td>
                            <td class="pricetd">{{ joonggo.price }}</td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </section>
        <!-- Category Grid-->
        <section class="categorysection features-icons bg-light text-center">
            <div class="container">
                <div class="categorydiv">
                    <div class="categorydivdiv">
                        <a href="{% url 'search' %}?category=001"><img class="categoryicon" src="../static/marketplace/assets/데스크탑.PNG" >
                        <p class="categoryp"> 노트북/데스크탑 본체</p></a>
                    </div> 
                    <div class="categorydivdiv">
                        <a href="{% url 'search' %}?category=002"><img class="categoryicon" src="../static/marketplace/assets/monitor.png">
                        <p class="categoryp"> 모니터</p></a>
                    </div> 
                    <div class="categorydivdiv">
                        <a href="{% url 'search' %}?category=003"><img class="categoryicon" src="../static/marketplace/assets/CPU.png">
                        <p class="categoryp"> CPU/메인보드</p></a>
                    </div> 
                    <div class="categorydivdiv">
                        <a href="{% url 'search' %}?category=004"><img class="categoryicon" src="../static/marketplace/assets/그래픽카드.svg">
                        <p class="categoryp"> 메모리/그래픽카드</p></a>
                    </div> 
                </div>
                <div class="categorydiv">
                    <div class="categorydivdiv">
                        <a href="{% url 'search' %}?category=005"><img class="categoryicon" src="../static/marketplace/assets/SSD.png">
                        <p class="categoryp"> HDD/SDD/ODD</p></a>
                    </div>
                    <div class="categorydivdiv">
                        <a href="{% url 'search' %}?category=006"><img class="categoryicon" src="../static/marketplace/assets/파워서플라이.png">
                        <p class="categoryp"> 쿨러/파워서플라이</p></a>
                    </div>
                    <div class="categorydivdiv">
                        <a href="{% url 'search' %}?category=007"><img class="categoryicon" src="../static/marketplace/assets/키보드마우스.png">
                        <p class="categoryp"> 주변기기</p></a>
                    </div>
                    <div class="categorydivdiv">
                        <a href="{% url 'search' %}?category=008"><img class="categoryicon" src="../static/marketplace/assets/ETC.png">
                        <p class="categoryp"> 기타</p></a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Icons Grid-->
        <!-- <section class="features-icons bg-light text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-primary"></i></div>
                            <h3>중고나라</h3>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                            <h3>번개장터</h3>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
                            <h3>당근마켓</h3>
                        </div>
                    </div>
                </div>
                <div>
                    <p class="lead mb-0">각종 중고거래 앱을 한데모아 한번에 검색</p>
                </div>
            </div>
        </section> -->
        <!-- Footer-->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="#!">About</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Contact</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2023. All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-facebook fs-3"></i></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-twitter fs-3"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!"><i class="bi-instagram fs-3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/static/marketplace/js/scripts.js"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
