

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>Search result</title>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="/static/marketplace/css/search.css?after" rel="stylesheet" />
    <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
    
</head>

<body>
<script src="http://code.jquery.com/jquery-latest.js"></script> 
<link rel="shortcut icon" href="#">
<form action="{% url 'search' %}" method="GET">
    <div class="row">
        <div class="searchdiv">
            <div class="inputdiv"><input class="form-control form-control-lg" id="keyword" name = "keyword" type="text" placeholder="Search" data-sb-validations="required" /></div>
            <div class="submitdiv"><input type="image" src="../static/marketplace/assets/돋보기.png" class="submiticon" id="submitButton" type="submit" decoding="async" loading="lazy" width="50" height="50"></input></div>
        </div>
    </div>
</form>

<div class="container">
    <!-- Toggle Button -->
    <div class= "filterdiv">
        <!-- 기본적으로 button-off 클래스를 가지도록 설정 -->
        <button id= "adtoggleButton" class= "w-btn w-btn-gray button-off" onclick = "adfilterButton()">광고글 제외</button>  
        <button id= "soldouttoggleButton" class= "w-btn w-btn-gray button-off" onclick = "soldoutfilterButton()">판매완료 제외</button>    
        <div style="display: flex;">
            <div class="reorderbutton_on reorder_id" data-key="id" onclick="reordering('id')">최신순</div>
            <div class="reorderbutton_off reorder_score" data-key="score" onclick="reordering('score')">정확도순</div>
            <div class="reorderbutton_off reorder_price" data-key="price" onclick="reordering('price')">가격순</div>
            <div class="reorderbutton_off recendingbutton" onclick="recending()">오름차순</div>
        </div>
    </div>
    {% for joonggo in joonggo_list %}
        <div class="ul">
            <div class="ultopdiv">
                <div class="platform">
                    {% if joonggo.platform == 'bunjang' %}
                        <img class="platformicon bunjangicon" src="../static/marketplace/assets/번개장터.svg" decoding="async" loading="lazy" width="100" height="100">
                    {% elif joonggo.platform == 'joongna' %}
                        <img class="platformicon joongnaicon" src="../static/marketplace/assets/중고나라.svg" decoding="async" loading="lazy" width="100" height="100">
                    {% endif %}
                </div>

                <div class="titlediv">
                    {% if joonggo.title %}
                        <a href="{{ joonggo.url }}" class="url" target='_blank'>{{ joonggo.title }}</a>
                    {% endif %}
                </div>
                
                {% if joonggo.price %}
                    <div class="price">{{ joonggo.price }} 원</div>
                {% endif %}
                
            </div>

            <div class="ulbottomdiv">
                <div class="imgs">
                    {% if joonggo.imgurl %}
                            <div class="headimg"><img src="{{ joonggo.imgurl.0 }}" decoding="async" loading="lazy" width="100" height="100"></div>
                            <div class="imgmore">+</div>
                            <div class="imgmore2">{{ joonggo.imgurl|length }}</div>
                    {% endif %}
                </div>
    
                <div class="textdiv">
                    {% if joonggo.text %}
                        <div class="text">{{ joonggo.text|linebreaks }}</div>
                    {% endif %}
                </div>
            </div>

            <p class="isad" style="display: none;">{{ joonggo.isad }}</p>
            <p class="issoldout" style="display: none;">{{ joonggo.issoldout }}</p>
            <p class="score" style="display: none;">{{ joonggo.score }}</p>
        </div>
    {% endfor %}


</div><!-- End of container div -->
<div class="pagination" id="pagination"></div>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/static/marketplace/js/scripts.js"></script>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
<script type = 'text/javascript'>
    // console.log('{{ joonggo_list }}');
    //csrf token
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');
    
    function adfilterButton() {
        var button = document.getElementById('adtoggleButton');
        button.classList.toggle('button-on'); // 'button-on' 클래스 토글
        button.classList.toggle('w-btn-blue');
        button.classList.toggle('w-btn-gray');

        filtering();

        totalPosts = document.querySelectorAll('.container .ul:not([data-check="1"])').length;
        totalPages = Math.ceil(totalPosts / postsPerPage);
        init();

        var temp = document.querySelectorAll('.container .ul:not([data-check="1"])').length
        console.log(temp)
    }

    function soldoutfilterButton() {
        var button = document.getElementById('soldouttoggleButton');
        button.classList.toggle('button-on'); // 'button-on' 클래스 토글
        button.classList.toggle('w-btn-blue');
        button.classList.toggle('w-btn-gray');
        filtering();

        totalPosts = document.querySelectorAll('.container .ul:not([data-check="1"])').length;
        totalPages = Math.ceil(totalPosts / postsPerPage);
        init();
            
        var temp = document.querySelectorAll('.container .ul:not([data-check="1"])').length
        console.log(temp)
    }

    function filtering() {
        var adbutton = document.getElementById('adtoggleButton');
        var adbuttonState = (adbutton.classList.contains('button-on')) ? 'on' : 'off';
        var soldoutbutton = document.getElementById('soldouttoggleButton');
        var soldoutbuttonState = (soldoutbutton.classList.contains('button-on')) ? 'on' : 'off';
        var ulElements = document.querySelectorAll('.container .ul');
        
        
        if (adbuttonState === 'on' && soldoutbuttonState === 'on') {
            ulElements.forEach(function(ul) {
                var isadElement = ul.querySelector('.isad');
                var issoldoutElement = ul.querySelector('.issoldout');
                if ((isadElement && isadElement.textContent.trim() === '1') || (issoldoutElement && issoldoutElement.textContent.trim() === '1')) {
                    ul.style.display = 'none';
                    ul.setAttribute('data-check', '1');
                } else {
                    ul.style.display = 'block';
                    ul.setAttribute('data-check', '0');
                }
            })
        } else if (adbuttonState === 'on' && soldoutbuttonState === 'off'){
            ulElements.forEach(function(ul) {
                var isadElement = ul.querySelector('.isad');
                var issoldoutElement = ul.querySelector('.issoldout');
                if ((isadElement && isadElement.textContent.trim() === '1')) {
                    ul.style.display = 'none';
                    ul.setAttribute('data-check', '1');
                } else {
                    ul.style.display = 'block';
                    ul.setAttribute('data-check', '0');
                }
            })
        } else if (adbuttonState === 'off' && soldoutbuttonState === 'on'){
            ulElements.forEach(function(ul) {
                var isadElement = ul.querySelector('.isad');
                var issoldoutElement = ul.querySelector('.issoldout');
                if ((issoldoutElement && issoldoutElement.textContent.trim() === '1')) {
                    ul.style.display = 'none';
                    ul.setAttribute('data-check', '1');
                } else {
                    ul.style.display = 'block';
                    ul.setAttribute('data-check', '0');
                }
            })
        } else if (adbuttonState === 'off' && soldoutbuttonState === 'off'){
            ulElements.forEach(function(ul) {
                ul.style.display = 'block';
                ul.setAttribute('data-check', '0');
                
            })
        }
    }

    function reordering(key) {
        var currentUrl = window.location.href;
        var baseUrl = currentUrl.split('?')[0]; // 변수 부분이 시작되기 전 URL 부분
        var newUrl = baseUrl + 'ordered?' + currentUrl.split('?')[1];
        var sort2 = document.querySelector('.recendingbutton').textContent
        $.ajax({
            url: newUrl,
            type: 'POST',
            data: {
                sort: key,
                sort2: sort2
            },
            dataType: 'json',
            headers: {
                'X-CSRFToken': csrftoken
            },
            success: function(data){
                console.log(data)
                $('.ul').each(function (index) {
                    var joonggo = data.joonggo_list[index];
                    // console.log(joonggo)
                    var ulDiv = $(this);
                    if (joonggo.platform === 'bunjang') {
                        ulDiv.find('.platformicon').attr('src', '../static/marketplace/assets/번개장터.svg');
                        ulDiv.find('.platformicon').addClass('bunjangicon');
                        ulDiv.find('.platformicon').removeClass('joongnaicon');
                    } else if (joonggo.platform === 'joongna') {
                        ulDiv.find('.platformicon').attr('src', '../static/marketplace/assets/중고나라.svg');
                        ulDiv.find('.platformicon').addClass('joongnaicon');
                        ulDiv.find('.platformicon').removeClass('bunjangicon');
                    }
                    ulDiv.find('.url').attr('href', joonggo.url).text(joonggo.title);
                    ulDiv.find('.price').text(joonggo.price + ' 원');
                    ulDiv.find('.headimg img').attr('src', joonggo.imgurl[0]);
                    ulDiv.find('.imgmore2').text('(' + (joonggo.imgurl).length + ')');
                    ulDiv.find('.text').html(joonggo.text.replace(/\n/g, '<br>'));
                    ulDiv.find('.isad').text(joonggo.isad);
                    ulDiv.find('.issoldout').text(joonggo.issoldout);
                    ulDiv.find('.score').text(joonggo.score);
                });
                
                var button_id = document.querySelector('.reorder_id')
                var button_score = document.querySelector('.reorder_score')
                var button_price = document.querySelector('.reorder_price')
                if (key === 'id') {
                    button_id.classList.remove('reorderbutton_off');
                    button_id.classList.add('reorderbutton_on');
                    button_score.classList.remove('reorderbutton_on');
                    button_score.classList.add('reorderbutton_off');
                    button_price.classList.remove('reorderbutton_on');
                    button_price.classList.add('reorderbutton_off');
                }
                else if (key === 'score') {
                    button_score.classList.remove('reorderbutton_off');
                    button_score.classList.add('reorderbutton_on');
                    button_id.classList.remove('reorderbutton_on');
                    button_id.classList.add('reorderbutton_off');
                    button_price.classList.remove('reorderbutton_on');
                    button_price.classList.add('reorderbutton_off');
                }
                else if (key === 'price') {
                    button_price.classList.remove('reorderbutton_off');
                    button_price.classList.add('reorderbutton_on');
                    button_score.classList.remove('reorderbutton_on');
                    button_score.classList.add('reorderbutton_off');
                    button_id.classList.remove('reorderbutton_on');
                    button_id.classList.add('reorderbutton_off');
                }
                filtering();

                totalPosts = document.querySelectorAll('.container .ul:not([data-check="1"])').length;
                totalPages = Math.ceil(totalPosts / postsPerPage);
                init();
            }
        })
    }

    function recending() {
        var currentUrl = window.location.href;
        var baseUrl = currentUrl.split('?')[0]; // 변수 부분이 시작되기 전 URL 부분
        var newUrl = baseUrl + 'ordered?' + currentUrl.split('?')[1];

        var sort = document.querySelector('.reorderbutton_on').dataset.key
        var sort2 = document.querySelector('.recendingbutton').textContent
        if(sort2 === '오름차순'){
            document.querySelector('.recendingbutton').innerText = '내림차순'
            sort2 = '내림차순'
        } else if(sort2 === '내림차순') {
            document.querySelector('.recendingbutton').innerText = '오름차순'
            sort2 = '오름차순'
        }

        $.ajax({
            url: newUrl,
            type: 'POST',
            data: {
                sort: sort,
                sort2: sort2
            },
            dataType: 'json',
            headers: {
                'X-CSRFToken': csrftoken
            },
            success: function(data){
                console.log(data)
                $('.ul').each(function (index) {
                    var joonggo = data.joonggo_list[index];
                    // console.log(joonggo)
                    var ulDiv = $(this);
                    if (joonggo.platform === 'bunjang') {
                        ulDiv.find('.platformicon').attr('src', '../static/marketplace/assets/번개장터.svg');
                        ulDiv.find('.platformicon').addClass('bunjangicon');
                        ulDiv.find('.platformicon').removeClass('joongnaicon');
                    } else if (joonggo.platform === 'joongna') {
                        ulDiv.find('.platformicon').attr('src', '../static/marketplace/assets/중고나라.svg');
                        ulDiv.find('.platformicon').addClass('joongnaicon');
                        ulDiv.find('.platformicon').removeClass('bunjangicon');
                    }
                    ulDiv.find('.url').attr('href', joonggo.url).text(joonggo.title);
                    ulDiv.find('.price').text(joonggo.price + ' 원');
                    ulDiv.find('.headimg img').attr('src', joonggo.imgurl[0]);
                    ulDiv.find('.imgmore2').text('(' + (joonggo.imgurl).length + ')');
                    ulDiv.find('.text').html(joonggo.text.replace(/\n/g, '<br>'));
                    ulDiv.find('.isad').text(joonggo.isad);
                    ulDiv.find('.issoldout').text(joonggo.issoldout);
                    ulDiv.find('.score').text(joonggo.score);
                });
                
                filtering();

                totalPosts = document.querySelectorAll('.container .ul:not([data-check="1"])').length;
                totalPages = Math.ceil(totalPosts / postsPerPage);
                init();
            }
        })
        
    }

    
    // 전체 글의 개수
    var totalPosts = document.querySelectorAll('.container .ul').length;
    // 한 페이지에 보여줄 글의 개수
    const postsPerPage = 20;
    // 전체 페이지 수 계산
    var totalPages = Math.ceil(totalPosts / postsPerPage);
    // 현재 선택된 페이지 초기값 설정
    let currentPage = 1;
    // 초기화 함수 호출
    init();


    function init() {
    updateActiveLink();
    showPosts(currentPage); // 현재 페이지의 글 표시
    setupPagination(); // 페이징 링크 생성 및 이벤트 처리 설정
    }

    function showPosts(page) {
        const start = (page -1) * postsPerPage; // 시작 인덱스 계산
        const end = start + postsPerPage; // 종료 인덱스 계산
        const allPosts = document.querySelectorAll('.container .ul:not([data-check="1"])');
        
        allPosts.forEach((post, index) => { 
            if (index >= start && index < end) { 
                post.style.display = 'block'; 
            } else { 
                post.style.display = 'none'; 
            } 
        });
    }

    function setupPagination() {
        const paginationContainer = document.getElementById('pagination');
        let paginationHTML = '';

        for (let i=1; i<=totalPages; i++) {
            paginationHTML += `<a href="#" onclick="changePage(${i})">${i}</a>`;
        }
        paginationContainer.innerHTML = paginationHTML;
    }

    function changePage(page) {
        currentPage = page;
        showPosts(currentPage);
        updateActiveLink();
    }
    
    function updateActiveLink() {
        const links = document.querySelectorAll('.pagination a');
        links.forEach(link => {
            if (link.innerText == currentPage.toString()) {
                link.classList.add('active');
            } else {
                link.classList.remove('active'); 
            }
        });
    }


</script>

</html>


