

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>Search result</title>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="/static/marketplace/css/search.css?after" rel="stylesheet" />
</head>

<body>
<form action="{% url 'search' %}" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="searchdiv">
            <input class="form-control form-control-lg" id="keyword" name = "keyword" type="text" placeholder="Search" data-sb-validations="required" />
            <button class="btn btn-primary btn-lg" id="submitButton" type="submit">검색</button>
        </div>
    </div>
</form>

<div class="container">
    <h1>검색 결과 목록</h1>

    <!-- Toggle Button -->
    <div class= "filterdiv">
        <!-- 기본적으로 button-off 클래스를 가지도록 설정 -->
        <button id= "toggleButton" class= "btn btn-primary btn-lg button-off" onclick = "toggleButton()">광고글 필터</button>     
    </div>
    {% for joonggo in joonggo_list %}
        <ul>
            <li><a href="{{ joonggo.url }}" class="url" target='_blank'>{{ joonggo.url }}</a></li>
            <li class="platform">{{ joonggo.platform }}</li>

            {% if joonggo.issoldout == 1 %}
                <li class="sold-out">판매완료</li>
            {% elif joonggo.issoldout == 0 %}
                <li class="sold-out">판매 중</li>
            {% endif %}

            <li class="title">{{ joonggo.title }}</li>

            {% if joonggo.price %}
                <li class="price">{{ joonggo.price }}</li>
            {% endif %}

            {% if joonggo.imgurl %}
                {% for imgurl in joonggo.imgurl %}
                    <img src="{{ imgurl }}" decoding="async" loading="lazy" width="100" height="100">
                {% endfor %}
            {% endif %}

            {% if joonggo.text %}
                <p class="text">{{ joonggo.text|linebreaks }}</p>
            {% endif %}

            <p class="isad" style="display: none;">{{ joonggo.isad }}</p>
        </ul>    
    {% endfor %}


</div><!-- End of container div -->
<div class="pagination" id="pagination"></div>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/static/marketplace/js/scripts.js"></script>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
<script type = 'text/javascript'>
    // console.log('{{ joonggo_list }}');
    function toggleButton() {
        var button = document.getElementById('toggleButton');
        button.classList.toggle('button-on'); // 'button-on' 클래스 토글
        var buttonState = (button.classList.contains('button-on')) ? 'on' : 'off';

        if (buttonState === 'on') {
            // 버튼 상태가 'on'일 때 isad 값이 1인 <ul> 태그를 숨깁니다.
            var ulElements = document.querySelectorAll('.container ul');
            ulElements.forEach(function(ul) {
                var isadElement = ul.querySelector('.isad');
                if (isadElement && isadElement.textContent.trim() === '1') {
                    ul.style.display = 'none';
                }
            });
        } else {
            // 버튼 상태가 'off'일 때 모든 <ul> 태그를 보여줍니다.
            var ulElements = document.querySelectorAll('.container ul');
            ulElements.forEach(function(ul) {
                ul.style.display = 'block';
            });
        }
    }

    // 전체 글의 개수
    const totalPosts = document.querySelectorAll('.container ul').length;
    // 한 페이지에 보여줄 글의 개수
    const postsPerPage = 20;
    // 전체 페이지 수 계산
    const totalPages = Math.ceil(totalPosts / postsPerPage);
    // 현재 선택된 페이지 초기값 설정
    let currentPage = 1;
    // 초기화 함수 호출
    init();

    function init() {
    showPosts(currentPage); // 현재 페이지의 글 표시
    setupPagination(); // 페이징 링크 생성 및 이벤트 처리 설정
    }

    function showPosts(page) {
    const start = (page -1) * postsPerPage; // 시작 인덱스 계산
    const end = start + postsPerPage; // 종료 인덱스 계산
    const allPosts = document.querySelectorAll('.container ul');
    
    allPosts.forEach((post, index) => { 
        if (index >= start && index < end) { 
            post.style.display = 'block'; 
        } else { 
            post.style.display = 'none'; 
        } 
    });
    }

    function setupPagination() {
        const paginationContainer = document.getElementById('pagination');
        let paginationHTML = '';

        for (let i=1; i<=totalPages; i++) {
            paginationHTML += `<a href="#" onclick="changePage(${i})">${i}</a>`;
        }
        paginationContainer.innerHTML = paginationHTML;
    }

    function changePage(page) {
        currentPage = page;
        showPosts(currentPage);
        updateActiveLink();
    }
    
    function updateActiveLink() {
        const links = document.querySelectorAll('.pagination a');
        links.forEach(link => {
            if (link.innerText == currentPage.toString()) {
                link.classList.add('active');
            } else {
                link.classList.remove('active'); 
            }
        });
    }


</script>

</html>


