


body {
    font-family: Arial, sans-serif;
    background-color: white;
    min-height: 100%;
}

.container {
    margin: 0 auto;
}

.row {
    padding-top: 20px;
}

h1 {
    color: #333333;
}

.ul {
    margin-bottom: 2vw;
    padding-left: 0;
    border-color: #CCCCCC;
    border-style: solid;
    border-radius: 10px;
    width: 95vw;
    height: 30vw;
}

.ultopdiv {
    width: 100%;
    display: flex;
    position: relative;
    height: 8vw;
    margin-bottom: 2vw;
}

.platform {
    width: 10%;
    font-weight: bold;
}

.bunjangicon {
    filter: invert(21%) sepia(43%) saturate(7425%) hue-rotate(336deg) brightness(74%) contrast(147%);
    width: 8vw;
    height: 8vw;
}

.joongnaicon {
    filter: invert(48%) sepia(91%) saturate(1938%) hue-rotate(343deg) brightness(95%) contrast(94%);
    width: 8vw;
    height: 8vw;
}

.titlediv {
    display: flex;
    width: 70%;
    align-items: center;
}

.url {
    font-size: 4vw;
    color:#555555; 
    font-weight:bold; 
    overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
    text-decoration-line: none;
}

.price{
    display: flex;
    width: 20%;
    color:#009900; 
    font-weight:bold;
    font-size: 3.5vw;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    text-decoration-thickness: 0.5vw;
}

.sold-out {
    color:red; 
    font-weight:bold; 
}

.ulbottomdiv {
    width: 100%;
    display: flex;
    height: 20vw;
}

.imgs {
    display: flex;
    width: 30vw;
}

.headimg {
    width: 20vw;
    height: 100%;
}

.headimg img {
    width: 20vw;
    height: 20vw;
    border-top: 0.2vw solid black;
}

.imgmore, .imgmore2 {
    display: flex;
    width: 5vw;
    background-color: #b5b5b5;
    justify-content: center;
    align-items: center;
    border: 0.2vw solid black;
}

.textdiv {
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    width: 60vw;
    height: 100%;
    text-overflow: ellipsis;
    overflow-x: hidden;
    overflow-y: scroll;
}

.text{
    width: 60wv;
    display: block;
    line-height :1.4em ;
    font-size: 1.5vw;
}   

.searchdiv{
    text-align: center;
    margin:auto;
    width: 100%;
    height: 8vw;
    display: flex;
}

.inputdiv {
    height: 100%;
    width: 50vw;
    margin-left: 22vw;
}

.form-control {
    display :inline-block;
    width: 48vw;
    height: 6vw;
    font-size: 3vw;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1vw solid #ced4da;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .submitdiv {
    width: 8vw;
    height: 8vw;
    margin-left: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.submiticon {
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 6vw;
    height: 6vw;
  }


/* Toggle Button Styles */
#toggleButton {
    border-radius: 4px;
    border-width: 1px;
    border-style:solid ;
    padding :6px ;
    cursor:pointer ;   
}

    /* 꺼진 상태 스타일 */
.button-off{
    background-color:#CCCCCC ;  
    border-color:#999999 ;   
    color:#333333 ;    
}

    /* 켜진 상태 스타일 */
.button-on{
    background-color:#007BFF ;  
    border-color:#007BFF ;   
    color:white ;    
}  

.filterdiv {
    margin: 0 auto;
    margin-bottom: 10vw;

}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 150vw;
  }
.pagination a {
    display: inline-flex; /* 수정된 부분 */
    align-items: center; /* 수정된 부분 */
    justify-content: center; /* 수정된 부분 */
    width: 30px; /* 수정된 부분 */
    height: 30px; /* 수정된 부분 */
    border-radius: 50%; /* 추가된 부분 */
    background-color: lightgray; /* 추가된 부분 */
    text-decoration: none;
    color: blue;
}
.pagination a.active {
    font-weight:bold;
    background-color:dodgerblue; 
    color:white;
}